
/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Modak&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Erica+One&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Sniglet:800&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Passion+One:900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Titan+One&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Corben:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Seymour+One&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Kanit:900&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Titan+One&display=swap&subset=latin-ext');

/* @import url(''); */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Pirata+One&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700&display=swap&subset=latin-ext');

@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/FREEFATFONT-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/FREEFATFONT-Regular.woff') format('woff') /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'MyWebFont1';
  src: url('../fonts/FivoSans-Regular.woff') format('woff') /* Super Modern Browsers */
}


@font-face {
  font-family: 'MyWebFont2';
  src: url('../fonts/SpaceGrotesk-Medium.woff') format('woff') /* Super Modern Browsers */
}
@font-face {
  font-family: 'MyWebFont3';
  src: url('../fonts/FivoSans-Black.woff') format('woff') /* Super Modern Browsers */
}

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');

:root {
  --white: #f5f5f5;
  --white_bright: #ffffff;
  --orange: #f68848;
  --orange_alt: #D63230;
  --grey: #dedede;
  --black: #030303;
}
/* --grey: #484A47; */

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('../images/cursor.png'), auto;	
  color: var(--black);
}

a, .bm-burger-button, .bm-burger-cross {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

*:focus {
  outline: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--white);
  background-size: cover;
  cursor: url('../images/cursor.png'), auto;
}

p {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.footerLink {
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 3px;
}

.footer_mail {
  font-family: 'MyWebFont', sans-serif;
  font-size: 72px;
  display: block;
  text-align: center;
}

h1 {
  font-family: 'MyWebFont', sans-serif;
  line-height: 0.9;
  font-size: 20px;
  font-weight: normal;
  
}

h1.name {
  top: 50%;
  left: 200px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: fixed;
  font-size: 19vh;
  opacity: 0.1;
  line-height: 0.7;
  text-transform: uppercase;
  color: var(--white);
  font-weight: normal;
  transform: translate(-50%, -50%) rotate(180deg); 
  -webkit-text-stroke: 1px var(--black);
  transition: 0.3s;
  user-select: none;
}

h1.subpage {
  top: 40%;
  left: 0;
  position: fixed;
  opacity: 0.1;
  line-height: 0.7;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  width: 100vw;
  font-weight: normal;
  -webkit-text-stroke: 1px var(--black);
  transition: 0.3s;
  user-select: none;
  z-index: 1;
}

h1.headlines {
  position: relative;
  font-family: 'MyWebFont', sans-serif;
  line-height: 1;
  font-size: 90px;
  font-weight: normal;
  padding-bottom: 0px;
  text-align: center;
  letter-spacing: 0px;
}

h1.headlines:hover {
  color: var(--orange) !important;
  -webkit-text-stroke: 1px var(--white); 
  opacity: 1 !important;
}

h2 {
  padding-top: 200px;
  letter-spacing: 1px;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.17;
  margin: 0 auto 20px;
}

h3 {
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
}

h4 {
  position: relative;
  font-family: 'MyWebFont', sans-serif;
  line-height: 1;
  font-size: 72px;
  -webkit-text-stroke: 1px white; 
  font-weight: normal;
  padding-bottom: 0px;
  letter-spacing: 0px;
}

  /* 
  -webkit-text-stroke: 5px white; 
  mix-blend-mode: difference;
  */
  @media (max-width: 1000px) {
    h1 {
      font-size: 19vw;
    }
  }
  @media (max-width: 850px) {
    .footer_mail {
      font-size: 7vw;
    }
  }

  @media (max-width: 800px) {
    h1.headlines {
      font-size: 10vw;
    }
  }

  @media (max-width: 700px) {
    h1.subpage {
      display: none;
    }
    h2 {
      font-size: 48px;
    }
  }

  @media (max-width: 420px) {
    h2 {
      font-size: 32px;
    }
  }